@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --clr-violet: #6f2f85;
    --clr-violet-hover: #6f2f8595;
    --clr-gray-footer: #f2f7fa;
    --clr-purple: rgb(168, 38, 130);
    --clr-black: #2d2d2d;
    --clr-black-light: #707070;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    flex: 1 1 0 ;

    color: var(--clr-violet);
}
.navbar-container,
.footer-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.navbar-flex,
.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    padding-top: 45px;

    width: 100%;
}
.navbar-logo > a > img {
    width: 250px;
}
.navbar-menu ul {
    display: flex;
    column-gap: 25px;
    list-style-type: none;
}
.navbar-menu ul > li > a {
    text-decoration: none;
    color: var(--clr-violet);
}
.navbar-menu ul > li > a:hover {
    color: var(--clr-violet-hover)
}
.navbar-phones {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}
.navbar-phones a {
    text-decoration: none;
    color: var(--clr-violet);
    font-size: 18px;
    font-weight: bold;
}
.navbar-buttons > .navbar-btn {
    background-color: var(--clr-violet);
    color: #fff;
    font-size: 14px;
    padding: 12px 32px;
    font-weight: 600;
    border-radius: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.content {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.hr-line {
    margin: 50px 0;
    width: 1200px;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(164,164,164,1) 50%, rgba(255,255,255,1) 100%);;
}
.section-header {
    width: 100%;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 25px 0;
}
.section-header-left {
    text-align: left;
}
.services-grid {
    display: flex;
    justify-content: space-between;
}
.service-item {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-repeat: no-repeat;
}
.doctors-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
.doctor-item {
    display: flex;
    flex-direction: column;
}
.doctor-item-link {
    padding-top: 10px;
    color: var(--clr-black);
    font-size: 14px;
    font-weight: 500;
}
.contacts-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts-text{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.contacts-box-items {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.contacts-box-items > a {
    font-size: 24px;
    font-weight: thin;
    color: var(--clr-purple)
}
.contacts-box-items > a:hover {
    color: var(--clr-black);
}
.footer {
    background-color: var(--clr-violet);
    color: #fff;
    padding: 20px 0;
}
.footer-logos-flex {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer-logo img{
    max-width: 120px;
}
.footer-social {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.footer-social-link {
    background-color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}
.footer-social-link > ion-icon {
    color: var(--clr-violet);
    font-size: 16px;
    padding: 2px 2px;
}
.footer-copy{
    font-weight: 100;
    font-size: 12px;
}
.footer-links {
    display: flex;
    flex-direction: column ;
    row-gap: 15px;
}
.footer-links-heading {
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.35;
    color: var(--clr-gray-footer);
    text-transform: uppercase;
}
.footer-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.footer-links ul li{}
.footer-links ul li a{
    color:var(--clr-gray-footer);
    font-weight: 300;
    font-size: 14px;
    line-height: 1.55;
}



/*CALLBACK future*/
.callback {}
.callback-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    row-gap: 15px;
}
.callback-container > h4{
    font-size: 42px;
    color: var(--clr-purple);
}
.callback-container p {
    max-width: 600px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    color: #000;
    text-align: center;
}
.callback-flex {}
.callback-form-container {}
.callback-form-container > small {
    padding-top: 15px;
    display: block;
    max-width: 700px;
    text-align: center;
    color: #000000;
    font-weight: 300;
    font-size: 15px;
}
.form-callback {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
}
.form-callback-input {
    background-color: #f2f2f2;
    margin: 0;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.33;
    min-width: 244px;
    border: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;
}
.form-callback-input-btn {
    width: 100%;
    padding: 15px 20px;
    border-radius: 25px;
    color: #fff;
    background-color: var(--clr-purple);
    font-weight: 600;
}
